<!DOCTYPE html>
<html>
  <head>
    <title>OpenFlights</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- 「javascript/packs/hello_react.jsx」を読み込む（コードはコピペ。hello_react → index.jsxに名前変更） -->
    <%= javascript_pack_tag 'index' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
